graft src
graft tests
prune scripts
prune notebooks
prune tests/.pytest_cache

prune docs/build
prune docs/source/api

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png
include *.md
include examples/pseudos/*.upf
recursive-include examples *.py
recursive-include examples *.yml
recursive-include types *.yml
recursive-include workflows *.cwl
recursive-include workflows *.py
recursive-include workflows *.upf
recursive-include workflows *.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle tmp

include README.md LICENSE
exclude tox.ini .bumpversion.cfg .readthedocs.yml .cruft.json CITATION.cff docker-compose.yml Dockerfile

